.hero{
    background: url("queen.jpg"),
    linear-gradient(purple 0%, red 90%), 
    linear-gradient(to right, blue 0%, yellow 90%);
    background-blend-mode: screen, difference, lighten;
    /* background-image: url("queen.jpg"); */
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gabriela', serif;
    
}
.section{
    width: 1100px;
    margin: 0 auto;
}
.content{
    margin: 50px;

}


.h1 .h2 .h3 .h4 .h5 .h6{
    margin: 60px;
}
.title{
    
    color: lightgray;
}
.title2{
    color: black;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
.text{
    text-align: center;
    margin: top;

}

.section.features {
    background-color: #fff;
 }
 
 .card-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
 
 .card {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 50px;
    height: 200px;
    width: 200px;
    text-align: center;
    justify-content: center;
    background-color: #770d0d;
    box-shadow: 0 0 7px 7px rgba(0, 0, 0, .15);
    border-radius: 5px;
 }
 
 .card:hover {
    color: #1100ff;
    box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transform: scale(1.1);
 }
 .card:hover .card-icon{
     fill: rgb(128, 115, 0);
 }
.card-icon{
    stroke: red;
    stroke-width: 10;
    stroke-linecap: butt;
    stroke-dasharray: 0;
}

 .card .title {
    transition: color 500ms ease-in;
 }
 
 .card-img {
    height: 150px;
    width: 150px;
    padding: 10px;
 }
.stroke-1 {
    stroke: red;
    stroke-width: 10;
    stroke-linecap: butt;
    stroke-dasharray: 0;
}

/* cards */

.two-col-blocks{
    display: flex;
    padding: 40px;
    height:  450px;
    align-items: stretch;
}
.two-col-blocks > * {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.two-col-blocks:nth-child(even) .block-img{
    order: 2;
}
.two-col-blocks:nth-child(even) .block-text{
    order: 1;
}
.block-img{
    overflow: hidden;
}
.block-img > img{
    max-width: 100%;
}

.block-text{
    padding: 30px;
    background-color: lightyellow;
}



.content .list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.content .list.red-all li::before { color: red; }
.content .list.blue-all li::before { color: blue; }

.content .list li.red::before { color: red; }
.content .list li.blue::before { color: blue; }


/* .content .list li::before{

} */

.content .list li::before {
    position: relative;
    bottom: -3px;
    content: '\f00c';
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    font-family: 'Font Awesome 5 free';
    font-size: 14px;
    font-weight: 900;
}
.content .list.check li::before{
    content: '\f00c';
}

.content .list.check-circle li::before
{
    content: '\f058';
}

.full-width{
    width: 100vw;
    
}
.adjust-center{
    text-align: center;
}
.img-wrapper{
    position: relative;
    display: inline-block;
    margin: 40px auto;
}
.img-wrapper.decorated::before,
.img-wrapper.decorated::after {
    position: absolute;
    z-index: -1;
    content: '';
    width: 50px;
    height: 50px;
    background-color: green;
    }

.img-wrapper.decorated::before{
    top: -20px;
    left: -20px;
}
.img-wrapper.decorated::after{
    bottom: -20px;
    right: -20px;
}
.img::before,
.img::after {
    content: '';
    width: 20px;
    height: 20px;
    background: yellow;
}
